# Note you may need to add the following to your printer.cfg somewhere (without the comments of course) for the Kinematic position stuff below to work.
#[force_move]
#enable_force_move: True

[gcode_macro _HOME_X]
gcode:
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=0.40
    G91
    G1 X-5 F2000
    G90
    G28 X
    G91
    G1 X5 F2000
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={printer.configfile.settings['tmc2209 stepper_x'].run_current}


[gcode_macro _HOME_Y]
gcode:
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=0.40
    G91
    G1 Y-5 F2000
    G90
    G28 Y
    G91
    G1 Y5 F2000
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={printer.configfile.settings['tmc2209 stepper_y'].run_current}


[gcode_macro _HOME_Z]
gcode:
    G28 Z


[homing_override]
axes: xyz
set_position_z: 0
gcode:
    G90
    {% set all = params|length == 0 %}
    {% if all or 'X' in params %}
        _HOME_X
    {% endif %}
    {% if all or 'Y' in params %}
        _HOME_Y
    {% endif %}
    {% if all or 'Z' in params %}
        _HOME_Z
    {% endif %}


[gcode_macro _SAFE_Z_MOVE]
gcode:
  {% if printer.query_endstops.last_query["z"] %}
  G0 Z-5 F600
  {% else %}
  G0 Z5 F600
  {% endif %}
