# Note you may need to add the following to your printer.cfg somewhere (without the comments of course) for the Kinematic position stuff below to work.
#[force_move]
#enable_force_move: True

[gcode_macro _HOME_X]
gcode:
    {% set run_x = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set run_y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set home_current = 0.45 %}

    # Lift Z slightly to avoid nozzle dragging
    G91
    G1 Z5 F1200
    G90

    # Reduce current for stallguard
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={home_current}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={home_current}

    # Clear StallGuard registers
    G91
    G1 X-10 F1200
    M400
    G4 P200

    # Home X axis
    G90
    G28.1 X
    G91
    G1 X5 F1800
    M400

    # Optional precise re-home
    G90
    G28.1 X

    # Restore currents
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={run_x}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={run_y}


[gcode_macro _HOME_Y]
gcode:
    {% set run_x = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set run_y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set home_current = 0.45 %}

    # Lift Z slightly to avoid nozzle dragging
    G91
    G1 Z5 F1200
    G90

    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={home_current}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={home_current}

    # Clear StallGuard registers
    G91
    G1 Y-10 F1200
    M400
    G4 P200

    # Home Y axis
    G90
    G28.1 Y
    G91
    G1 Y-5 F1800
    M400

    # Optional precise re-home
    G90
    G28.1 Y

    # Restore currents
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={run_x}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={run_y}


[gcode_macro _HOME_XY]
gcode:
    {% set run_x = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set run_y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set home_current = 0.45 %}

    # Lift Z slightly before XY home
    G91
    G1 Z5 F1200
    G90

    # Reduce current
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={home_current}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={home_current}

    # Pre-move to relieve tension
    G91
    G1 X-10 Y-10 F1200
    M400
    G4 P200

    # Home both axes
    G90
    G28.1 X Y
    G91
    G1 X5 Y5 F1800
    M400
    G4 P100

    # Optional precise re-home
    G90
    G28.1 X Y

    # Restore currents
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={run_x}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={run_y}


[homing_override]
axes: xyz
gcode:
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  # Lift Z slightly before any XY moves (safety)
  G91
  G1 Z5 F1200
  G90

  {% if home_all or 'X' in params %}
    _HOME_X
  {% endif %}
  
  {% if home_all or 'Y' in params %}
    _HOME_Y
  {% endif %}
  
  {% if home_all or 'Z' in params %}
    G90
    G1 X100 Y100 F6000       # Move to bed center before Z homing
    G28.1 Z
    G1 Z10 F1500
  {% endif %}

