[maintain]
interval: 60 # optional, time (in seconds) between checking if maintenance needs to be done (default is 60)


# Lubricate XY rods
[maintain xyrods]
label: XY smooth rods
trigger: print_time
threshold: 250
message: Lubricate XY smooth rods

# Replace nevermore media
[maintain air filter]
label: Nevermore Media
trigger: print_time
threshold: 50
message: Replace Nevermore Charcoal

# Extruder maintenance
[maintain extruder]
label: Extruder maintenance
trigger: filament
threshold: 700
message: Clean extruder gears and tighten extruder bolts

# Check Belt Tension
[maintain belts]
label: Belt tension
trigger: print_time
threshold: 720
message: Check belt tension